@model BookShop.Models.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Change Password</h1>
<div>
<hr />
    @if (ViewBag.IsSuccess == true)
    {
        
        <div class="alert alert-success" role="alert">
            Password has been updated successfully
        </div>
    }
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPass" class="control-label"></label>
                <input asp-for="CurrentPass" class="form-control" />
                <span asp-validation-for="CurrentPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPass" class="control-label"></label>
                <input asp-for="NewPass" class="form-control" />
                <span asp-validation-for="NewPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPass" class="control-label"></label>
                <input asp-for="ConfirmNewPass" class="form-control" />
                <span asp-validation-for="ConfirmNewPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

