@model BookShop.Models.ForgetPasswordModel

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Forget password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model?.EmailSent == true)
        {
            <div class="alert alert-success" role="alert">
                <p>We have sent an email on your email id.</p>
            </div>

            <form asp-action="ForgetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Email" />

                <p>didn't get reset password email or deleted by mistak?</p>
                <div class=" form-group">
                    <input type="submit" value="Resend reset password email" class="byn btn alert-dark" />
                </div>
            </form>
        }
        else
        {
            if (Model?.EmailSent == false)
            {
                <div class="text-danger">
                    <p>The email you have entered is not exist.</p>
                </div>
            }
            <form asp-action="ForgetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Continue" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <p>Back to <a asp-action="LogIn" asp-controller="AccountC">Login</a></p>
</div>

