@{
    Layout = "_Layout";
}
<section class=" text-center">
    <div class="container-fluid">
        <h1>Welcome to Bookstore</h1>
        <p class="text-monospace">Thank you</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Book</a>
        </p>
    </div>
</section>
<h5 class="ml-5"> Top Books </h5>
<div class="container-fluid">
    <div class="py-5 bg-white ml-4">
        <div class="row">
            <div class="col-md-3 ">
                <div class=" card mb-4 shadow-sm">
                    <img class="card-img-top" src="~/images/my-first-science-book-9781782492542_hr.jpg ">
                    <div class="card-body">
                        <h5 class="card-title">Scince Book</h5>
                        <p class="card-text">from Susan Akass</p>
                        <a href="#" class="btn btn-primary"> Click Here </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" card mb-4 shadow-sm">
                    <img class="card-img-top" src="~/images/Flourishing20Cover_edited-e1577727952493.jpg" height="409" />
                    <div class="card-body">
                        <h5 class="card-title">Math Book</h5>
                        <p class="card-text">form Francis Su</p>
                        <a herf="#" class="btn btn-primary"> Click Here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="~/images/9780367365745.tif" height="409" />
                    <div class="card-body">
                        <h5 class="card-title">IT Book</h5>
                        <p class="card-txte">from CRC Press</p>                        
                        <a herf="#" class="btn btn-primary">Click Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section secript{
    <script>
        $(document).ready(function () {
            alert("The page is ready");
        })
    </script>
 }
